.mainPage
  .mainPage__header
    .mainPage__header__box
      .mainPage__header__box--logo
        メニューでつながる食べコネ　
      .mainPage__header__box--link
        .mainPage__header__box--link
          #{@name}様 　　
          = link_to edit_group_path(current_user.id) do
            オススメグループ　　
          = link_to edit_user_registration_path do
            プロフィール変更　　
          = link_to destroy_user_session_path,method: :delete do
            ログアウト
  .mainPage__contents
    .mainPage__contents__side
      .mainPage__contents__side--box
        .mainPage__contents__side--box--title
          最近のレビュー
        .mainPage__contents__side--box--review
          - @reviews.each do |review|
            .mainPage__contents__side--box--review--container
              .mainPage__contents__side--box--review--container--shopName
                shop: #{review.shopName.slice(0, 7)}
              .mainPage__contents__side--box--review--container--MenuName
                menu: #{review.menuName.slice(0, 7)}
              .mainPage__contents__side--box--review--container-satisfaction
                満足度：#{review.deliciousness}
                コスパ：#{review.costPerformance}
                %br/
                = review.comment.slice(0, 17)
              .mainPage__contents__side--box--review--container--btn
                = link_to '詳細・編集', edit_review_path(review.id), method: :get
                ／
                = link_to '削除', review_path(review.id), method: :delete
      .mainPage__contents__side--form
        .btn_org
          = link_to 'レビュー追加', new_review_path()
    .mainPage__contents__main
      .mainPage__contents__main--title
        おすすめメニュー
      .mainPage__contents__main--contents
        - @array.each do |array|
          - @allReview.where(group: array).each do |review|
            .mainPage__contents__main--contents--group
              .mainPage__contents__main--contents--group--title
                = @groupsName[array.to_i - 1]
                にオススメ
                %br
              .mainPage__contents__main--contents--group--rev
                shop：
                = review.shopName.slice(0, 10)
                %br
                menu：
                = review.menuName.slice(0, 10)
                %br
                満足度：
                = review.deliciousness
                コスパ：
                = review.costPerformance
                %br
                = review.comment.slice(0, 14)
                %br
                reviewer：
                = User.find(review.user_id).name.slice(0, 8)
                %br
                = link_to '詳細', edit_review_path(review.id), method: :get
      .mainPage__contents__main--contents--category
        .mainPage__contents__main--contents--category--title
          その他のカテゴリー
        .mainPage__contents__main--contents--category--box
          - @groups.each do |group|
            .mainPage__contents__main--contents--category--box--someone
              = link_to "#{group.name}", "/groups/#{group.id}"
  .mainPage__footer
    .footer-box
      %a{:href => ""} 運営会社について
      %a{:href => ""} お問い合わせ
  .mainPage__footerber
    © 2020　KEN180LIC.co. All Right Reserved.
